@font-face {
  font-family: "iconfont"; /* Project id 3481695 */
  src: url('iconfont.woff2?t=1655972002781') format('woff2'),
       url('iconfont.woff?t=1655972002781') format('woff'),
       url('iconfont.ttf?t=1655972002781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaixinguo:before {
  content: "\e630";
}

.icon-hetao:before {
  content: "\e631";
}

.icon-xiaweiyiguo:before {
  content: "\e632";
}

.icon-huasheng:before {
  content: "\e633";
}

.icon-bigenguo:before {
  content: "\e634";
}

.icon-kuihuazi:before {
  content: "\e635";
}

.icon-songzi:before {
  content: "\e636";
}

.icon-xiguazi:before {
  content: "\e637";
}

